samples/
*.bin
*.exe
*.dll
*.so
*.elf
*.jar

*.7z
*.zip
*.tar.gz
*.tgz
*.enc

*.poc.py
*.log
*.bak
*.swp
*.tmp

*.gpr
Ghidra/Projects//project.db
Ghidra/Projects//PROJECT

.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

*.key
*.pem
*.p12
*.crt

secrets.env
.env

node_modules/
build/
dist/
.cache/
